repos:
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: bash -c 'cd riichienv && cargo fmt --all -- --check'
        language: system
        types: [rust]
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: bash -c 'cd riichienv && PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        types: [rust]
        pass_filenames: false

